@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

:root{
    --poppins: 'Poppins', sans-serif;
    --primary_color: #1C1E53;
    --secondary_color: #282938;
    --white_color: #ffffff;
    --button_color: #FCD980;
    --section_banner_color: #F4F6FC;
}

/* Navbar Part css Start */

#navbar_part{
    background: var(--primary_color);
    padding: 32px 0;
}



#navbar_part .custom_navbar a{
    color: var(--white_color);
    font-family: var(--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    margin-right: 26px;

}

#navbar_part .btn{
    border: none;
    background-color: transparent;
    color: var(--white_color);
    /*border: 1px solid var(--white_color);
    */padding: 16px 45px;
    border: 2px solid rgba(244, 246, 252, 0.37);
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}

#navbar_part .banner_left h1{
    color: var(--white_color);


font-family: var(--poppins);
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: 74px; 
}

#navbar_part .banner_left p{
    color: var(--white_color);

font-family: var(--white_color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; 
opacity: 0.7;
}

#navbar_part .view_work a{
    padding: 12px 56px;
    background-color: var(--button_color);
    display: inline-blocks;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;

    color: #1B1C2B;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 32px; 
}

#navbar_part .view_pricing a{
    color: var(--white_color);


font-family: var(--poppins);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; 
}



/* Navbar Part css End */